
/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 15px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #ABA9C3;
    padding-left: 8px;
}

.dropdown-items, .new-item {
    color: white;
    padding: .25rem 3.5rem;
    font-weight: lighter;
}

.active-page {
    cursor:default;
    font-weight: bold;
}
